.titre-main {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #000000;
  margin: 0;
}

.titre-sub {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  color: #CC0000;
  margin: 0;
}


.sub-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}




.hero.section {
    background-color: #f5f5f5;
    padding: 50px 20px;
    text-align: center;
}
body{
    margin: 0;
    background: #fff;
    font-family: work sans, sans-serif;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: #55d6aa;
}

header::after{
    content: "";
    display: table;
    clear: both;

}

.logo{
    float: left;
    padding: 10px 0;
}
nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a{
    color: #444;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

nav a:hover{
    color: #000;
}

.btn{
    background: brown;
    color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #ffffff;
}

.card{
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
}

.title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.description{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.bron{
    color: rgb(145, 114, 114)
}
		.navbar{
			background: rgb(64, 64, 64); font-family: calibri; padding-right: 15px;padding-left: 15px;
		}
		.navdiv{
			display: flex; align-items: center; justify-content: space-between;
		}
		.logo a{
			font-size: 35px; font-weight: 600; color: white;
		}
		li{
			list-style: none; display: inline-block;
		}
		li a{
			color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
		}
		button{
			background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
		}
		button a{
			color: white; font-weight: bold; font-size: 15px;
		}
		a {
  		text-decoration: none;
		}